:root {
  --save-btn: #5eb1a4;
  --save-btn-hover: #309281;
  --textarea-present: #dad7b2;
  --textarea-past: #c5d8cf;
  --textarea-future: #9bc3c0;
  --textarea-color: #485152;
  --text-color: #39484B;
  --bg-color: #E9EEE6;
  --hour-color: #3d8aac;
}

h1, h4 {
  font-family: "Podkova", serif;
}

h4 {
  color: var(--textarea-color);
}

p {
  color: var(--bg-color);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--bg-color);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--textarea-color);
  /* padding: 10px; */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 0;
  border-bottom: 10px solid var(--text-color);
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--bg-color);
}

.text-col {
  background-color: var(--textarea-present);
}

.hour-col {
  background-color: var(--hour-color);
}
/* 
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
} */

.btn-primary {
  background-color: var(--save-btn);
  border: 0;
  border-radius: 0;
  color: var(--bg-color);
}

.btn-primary:hover, .btn-primary:hover > span{
  font-size: 20px;
  background-color: var(--save-btn-hover);
  transition: all 0.3s ease-in-out;
}
